/* MAPS */

$mRedes:(facebook:rgb(51, 0, 255), instagram:rgb(255, 0, 247));

@each $redesSociales, $color in $mRedes {
    .#{$redesSociales} {
        color: $color;
    }
}

/*MAP - GET */

$estilo: (color: #713e5a , tamTitulo: 3rem, tamTitulo2: 1.5rem );

h1 {
    color: map-get($estilo, color);
    font-size: map-get($estilo, tamTitulo2);
}

h2 {
    font-size: map-get($estilo, tamTitulo2);
    color:map-get($estilo, color)
}

a{
    font-size: map-get($estilo, tamTitulo2);
}

.btn {
    font-size: map-get($estilo, tamTitulo2);
}